<div class="mce-container" id="tinyvision">
  <div class="tv-toolbar mce-panel cf">
    <div class="tv-toolbar-left">
      <div class="tv-upload mce-widget mce-btn">
        <button type="button" id="upload"><span class="tv-icon tv-icon-upload"></span> Upload</button>
      </div>
    </div>
    <div class="tv-toolbar-right">
      <div class="tv-search mce-widget">
        <span class="tv-icon tv-icon-search"></span>
        <input class="mce-textbox" id="search" placeholder="Search">
      </div>
      <div class="tv-refresh mce-widget mce-btn">
        <button type="button" id="refresh"><span class="tv-icon tv-icon-refresh"></span></button>
      </div>
    </div>
  </div>
  <div class="tv-notice" id="notice"></div>
  <ol class="tv-items cf" id="items"></ol>
</div>
