@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-ms-keyframes spin { 100% { -ms-transform: rotate(360deg); } }
@-o-keyframes spin { 100% { -o-transform: rotate(360deg); } }
@keyframes spin { 100% { transform: rotate(360deg); } }
