#tinyvision {
  .tv-notice {
    border: 1px solid #eee;
    color: #9e9e9e;
    display: none;
    font-size: 20px;
    margin: 15% auto 0;
    padding: 20px;
    text-align: center;
    white-space: normal;
    width: 50%;
  }
}
